# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [7]:
def moving_average(input_list, k):
    if len(input_list) < k:
        return
    out_list = []
    for i in range(0,len(input_list)-k+1):
        avg = sum(input_list[i:i+k]) / k
        out_list.append(round(avg,2))
    return out_list

input_list = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
k = 3
print(moving_average(input_list, k))

[5.0, 4.67, 5.67, 6.67, 9.67, 28.67, 49.33, 72.67, 84.0, 93.33, 116.33]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [27]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df = df.assign(Difference=df.loc[df.X==0])

nul = df['Difference'].isnull()
df.assign(Difference=nul.groupby((nul.diff() == 1).cumsum()).cumsum())

   X  Difference
0  7         1.0
1  2         2.0
2  0         0.0
3  3         1.0
4  4         2.0
5  2         3.0
6  5         4.0
7  0         0.0
8  3         1.0
9  4         2.0

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [36]:
import numpy as np
import pandas as pd

date_series = pd.date_range(start='1/1/2015', end='12/31/2015', freq='B')
data = np.random.randn(date_series.shape[0])
df = pd.DataFrame(data=data,columns=['Random'], index=date_series)
df

              Random
2015-01-01 -0.264465
2015-01-02  0.355181
2015-01-05 -1.001617
2015-01-06 -2.115348
2015-01-07 -0.629540
...              ...
2015-12-25 -1.508867
2015-12-28 -0.771224
2015-12-29  0.007786
2015-12-30 -1.877662
2015-12-31 -0.654647

[261 rows x 1 columns]

Q.4